.image {
    height: 200px;
    width: 250px;
    text-align: left;
    position: relative;

    margin-right: 10px;
    padding: 10px;
  }
  img {
    position: absolute;
    height: 100%;
    width: 100%;

    box-shadow: 5px 5px 5px lightgray;

    transition: transform .25s;
  }
  
  img:hover {
    transform: scale(1.2);
  }
  