.image {
    height: 200px;
    width: 250px;
    text-align: left;
    position: relative;

    margin-right: 10px;
    padding: 10px;
  }
  .bird-img {
    position: absolute;
    height: 100%;
    width: 100%;

    box-shadow: 2px 2px 2px lightgray;

    transition: transform .25s;
  }
  
  .bird-img:hover {
    transform: scale(1.2);
  }
  