.instructions {
    position: absolute;
    top: 15%;

    width: 100%;
    height: 30%;

    text-align: center;
    font-size: 2rem;
    padding-top: 25px; 

    color: #ECEFF1;
    background-color: darkgreen;
    opacity: 0.9;
  }